@model RIAppDemo.Models.SPATemplate
@{
    Layout = null;
}

<script id="editcss" type="text/x-options">
    elEditCss:'form-control form-control-sm d-inline-block'
</script>

<script id="optionsTableCustOrders" type="text/x-options">
    isUseScrollIntoDetails:false,
    isHandleAddNew:true,
    editor:{templateID:custGroup.orderEditTemplate,width:750,height:600,title:'Order editing'},
    details:{templateID:custGroup.orderDetailsTemplate}
</script>

<script id="bindAddNewOrder" type="text/x-options">
    this.command,to=addNewCommand,source=customerVM.ordersVM
</script>

<script id="optionsAddNewOrder" type="text/x-options">
    tip:'This is not a Real World example how to add an order!!!'
</script>

@*just for testing using GET in the options*@
<script id="customerEditorOptions" type="text/x-options">
    templateID:custGroup.customerEditTemplate,width:750,height:650,title:'Customer editing'
</script>

<script id="custGroup.SPAcustTemplate" type="text/x-template">
    @*first page view of customers*@
    <div class="row" style="height: calc(100% - 40px);">
        <table data-name="gridCustomers"
               data-bind-1="this.dataSource,to=dbSet,source=customerVM"
               data-bind-2="this.myGridEvents,to=gridEvents,source=customerVM"
               data-view="my_grid"
               data-view-options="wrapCss:customerTableWrap,isHandleAddNew:true,editor:get(customerEditorOptions),details:{templateID:custGroup.customerDetailsTemplate}">
            <thead>
                <tr>
                    <th data-column="width:35px,type:row_expander"></th>
                    <th data-column="width:40px,type:row_actions"></th>
                    <th data-column="width:30px,title:***" data-content="template={readID=custGroup.goToInfoColTemplate},css:{readCss:'text-center'}"></th>
                    <th data-column="width:40px,sortable:true,title:Title" data-content="fieldName:Title,readOnly:true"></th>
                    <th data-column="width:150px,sortable:true,title:Customer Name,sortMemberName=CustomerName.LastName;CustomerName.MiddleName;CustomerName.FirstName" data-content="fieldName:CustomerName.Name,readOnly:true"></th>
                    <th data-column="width:50%,sortable:true,title:CompanyName" data-content="fieldName:CompanyName,readOnly:true"></th>
                    <th data-column="width:150px,sortable:true,title:SalesPerson" data-content="fieldName:SalesPerson,readOnly:true"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="row border-0 mt-4" style="height: 40px;">
        <!--pager-->
        <div class="col-auto pl-0" data-bind-1="this.dataSource,to=dbSet,source=customerVM"
             @*when the pager is selected than the datagrid gets keydown and keyup events*@
             data-bind-2="this.parentControl,to=grid,source=customerVM"
             data-view="pager"
             data-view-options="sliderSize:11">
        </div>
        <div class="col-auto mr-auto pl-0 pt-1">
            <span class="align-middle text-info">Total rows:</span><span class="ml-1 align-middle" data-bind="this.value,to=dbSet.totalCount,source=customerVM"></span>
        </div>
        <div class="col-auto ml-auto text-right">
            @*
                <button class="btn btn-info btn-sm" data-bind-1="this.command,to=switchViewCommand" data-bind-2="this.commandParam,to=uiMainRoute.custDetTemplName">
                    <i class="fas fa-user"></i><span class="ml-1">Details</span>
                </button>
            *@
            <button type="button" class="btn btn-info btn-sm" style="width:11em;" data-bind="this.command,to=addNewCommand,mode=OneWay,source=customerVM"><i class="fas fa-plus"></i><span class="ml-1">New Customer</span></button>
            <button type="button" class="btn btn-info btn-sm" style="width:11em;" data-bind="this.command,to=saveCommand,mode=OneWay,source=customerVM"><i class="fas fa-save"></i><span class="ml-1">Save</span></button>
            <button type="button" class="btn btn-info btn-sm" style="width:11em;" data-bind="this.command,to=undoCommand,mode=OneWay,source=customerVM"><i class="fas fa-undo"></i><span class="ml-1">Undo</span></button>
        </div>
    </div>
</script>

<script id="custGroup.goToInfoColTemplate" type="text/x-template">
    <a style="display: inline-block; padding: 2px;" data-bind-1="this.command,to=switchViewCommand,source=customerVM"
       data-bind-2="this.commandParam,to=uiMainRoute.custDetTemplName,source=customerVM" data-view-options="tip:'Go to Customer Info'">
        <i class="fas fa-user"></i>
    </a>
</script>

<script id="custGroup.SPAcustDetailTemplate" type="text/x-template">
    <!--for switching views between custInfoGroup.customerInfo and custAdrGroup.customerAddr-->
    <div id="infoDynaContent" data-bind-1="this.templateID,to=uiCustDetRoute.viewName" data-bind-2="this.dataContext"
         data-bind-3="this.animation,to=uiCustDetRoute.animation" data-view="dynacontent"></div>
</script>

<script id="custGroup.customerEditTemplate" type="text/x-template">
    <form action="#" class="bg-transparent" data-bind="this.dataContext,mode=OneWay" data-view="dataform">
        <div class="form-group form-row mb-0">
            <label class="col-2 col-form-label">ID:</label>
            <div class="col-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerId,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-2 col-form-label">Title:</label>
            <div class="col-10">
                <span class="form-control-plaintext" data-content="fieldName:Title,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-2 col-form-label">FirstName:</label>
            <div class="col-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.FirstName,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-2 col-form-label">MiddleName:</label>
            <div class="col-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.MiddleName,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-2 col-form-label">LastName:</label>
            <div class="col-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.LastName,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-2 col-form-label">Suffix:</label>
            <div class="col-10">
                <span class="form-control-plaintext" data-content="fieldName:Suffix,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-2 col-form-label">CompanyName:</label>
            <div class="col-10">
                <span class="form-control-plaintext" data-content="fieldName:CompanyName,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-2 col-form-label">SalesPerson:</label>
            <div class="col-10">
                <span class="form-control-plaintext" data-content="fieldName:SalesPerson,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-2 col-form-label">Email:</label>
            <div class="col-10">
                <span class="form-control-plaintext" data-content="fieldName=CustomerName.Contact.EmailAddress,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-2 col-form-label">Phone:</label>
            <div class="col-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.Contact.Phone,css:get(editcss)"></span>
            </div>
        </div>
    </form>
</script>

<script id="custGroup.customerDetailsTemplate" type="text/x-template">
    @*Grid details template for customer's orders*@
    <div class="m-0 p-2 w-100 bg-white" style="min-height: 400px;">
        <div data-name="tabs" class="p-2 w-100" data-view="tabs" data-view-options="hide:{effect:clip,duration:500},show:{effect:clip,duration:500}">
            <div id="detailsTabs">
                <ul>
                    <li>
                        <a href="#custDetails">Details on<span class="ml-1" data-bind="this.value,to=CustomerName.Name"></span></a>
                    </li>
                    <li>
                        <a href="#custOrders">Customer's Orders</a>
                    </li>
                </ul>
                <div id="custDetails" class="text-info">
                    <div class="form-group row mb-0">
                        <label class="col-2 col-form-label">ID:</label>
                        <div class="col-10">
                            <input type="text" class="form-control-plaintext" data-bind="this.value,to=CustomerId" readonly />
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-2 col-form-label">Title:</label>
                        <div class="col-10">
                            <input type="text" class="form-control-plaintext" data-bind="this.value,to=Title" readonly />
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-2 col-form-label">Suffix:</label>
                        <div class="col-10">
                            <input type="text" class="form-control-plaintext" data-bind="this.value,to=Suffix" readonly />
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-2 col-form-label">CompanyName:</label>
                        <div class="col-10">
                            <input type="text" class="form-control-plaintext" data-bind="this.value,to=CompanyName" readonly />
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-2 col-form-label">EmailAddress:</label>
                        <div class="col-10">
                            <input type="text" class="form-control-plaintext" data-bind="this.value,to=CustomerName.Contact.EmailAddress" readonly />
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-2 col-form-label">Phone:</label>
                        <div class="col-10">
                            <input type="text" class="form-control-plaintext" data-bind="this.value,to=CustomerName.Contact.Phone" readonly />
                        </div>
                    </div>
                </div>
                <div id="custOrders">
                    <em>
                        <strong>DISCLAIMER</strong>: This example allows you to add and delete the orders. But in the real
                        world it should never be done in this way.<br />
                        It is here just to show you the capabilties you have with the framework to manage
                        master-details.
                    </em>
                    <div class="row my-2 mx-0">
                        <div class="col px-0">
                            <table class="w-100" style="font-size: 0.875rem;" data-name="tblOrders"
                                   data-bind-1="this.dataSource,to=dbSet,source=customerVM.ordersVM"
                                   data-bind-2="this.grid,to=grid,mode=BackWay,source=customerVM.ordersVM"
                                   data-view-options="get(optionsTableCustOrders)">
                                <thead>
                                    <tr>
                                        <th data-column="width:20px,type:row_expander"></th>
                                        <th data-column="width:50px,type:row_actions"></th>
                                        <th data-column="width:50%,sortable:true,title:SalesOrderNumber" data-content="fieldName:SalesOrderNumber,readOnly:true"></th>
                                        <th data-column="width:50%,sortable:true,title:PurchaseOrderNumber" data-content="fieldName:PurchaseOrderNumber,readOnly:true"></th>
                                        <th data-column="width:110px,sortable:true,title:OrderDate" data-content="fieldName:OrderDate,readOnly:true"></th>
                                        <th data-column="width:110px,sortable:true,title:DueDate" data-content="fieldName:DueDate,readOnly:true"></th>
                                        <th data-column="width:110px,sortable:true,title:ShipDate" data-content="fieldName:ShipDate,readOnly:true"></th>
                                        <th data-column="width:150px,sortable:true,title:TotalDue" data-content="fieldName:TotalDue,readOnly:true"></th>
                                        <th data-column="width:150px,sortable:true,title:IsOnlineOrder" data-content="fieldName:OnlineOrderFlag,readOnly:true"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col text-right px-0">
                            <button class="btn btn-info btn-sm"
                                    data-bind="get(bindAddNewOrder)"
                                    data-view-options="get(optionsAddNewOrder)">
                                <i class="fas fa-plus"></i><span class="ml-1">New Order</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="custGroup.orderEditTemplate" type="text/x-template">
    <form action="#" class="bg-transparent" data-bind="this.dataContext,mode=OneWay" data-view="dataform">
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">ID:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:SalesOrderId,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Order Date:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:OrderDate,name:datepicker,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Due Date:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:DueDate,name:datepicker,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Ship Date:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:ShipDate,name:datepicker,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Order Status:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:Status,name:lookup,options:{dataSource=customerVM.ordersVM.orderStatuses,valuePath=key,textPath=val},css:get(editcss)">
                </span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Ship to Address:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:ShipToAddressId,name:lookup,options:{dataSource=customerVM.custAdressView,valuePath=Address.AddressId,textPath=Address.AddressLine1},css:get(editcss)">
                </span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Bill to Address:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:BillToAddressId,name:lookup,options:{dataSource=customerVM.custAdressView,valuePath=Address.AddressId,textPath=Address.AddressLine1},css:get(editcss)">
                </span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Is Online Order:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:OnlineOrderFlag,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">SalesOrder Number:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:SalesOrderNumber,readOnly:true"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Ship Method:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:ShipMethod,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Credit Card Approval Code:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName=CreditCardApprovalCode,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">SubTotal:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName=SubTotal,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">TaxAmt:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:TaxAmt,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Freight:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:Freight,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">TotalDue:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:TotalDue,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Comment:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:Comment,name:multyline,options:{wrap:hard},css:get(editcss)"></span>
            </div>
        </div>
    </form>
</script>

<script id="custGroup.orderDetEditTemplate" type="text/x-template">
    <form action="#" class="bg-transparent" data-bind="this.dataContext,mode=OneWay" data-view="dataform">
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">ID:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:SalesOrderDetailId,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">OrderQty:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:OrderQty,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">Product:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="template={readID=productTemplate1,editID=productTemplate2}"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">UnitPrice:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:UnitPrice,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">UnitPriceDiscount:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:UnitPriceDiscount,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-3 col-form-label">LineTotal:</label>
            <div class="col-9">
                <span class="form-control-plaintext" data-content="fieldName:LineTotal,readOnly:true"></span>
            </div>
        </div>
    </form>
</script>

<script id="custGroup.orderDetailsTemplate" type="text/x-template">
    @*Grid details template for order Details*@
    <div data-name="tabs" class="m-0 w-100 bg-white" data-bind="this.tabsEvents,to=tabsEvents,source=customerVM.ordersVM" data-view="tabs"
         data-view-options="hide:{effect:clip,duration:500},show:{effect:clip,duration:500}">
        <div id="odeTabs">
            <ul>
                <li>
                    <a href="#sta">ShipToAddress</a>
                </li>
                <li>
                    <a href="#bta">BillToAddress</a>
                </li>
                <li>
                    <a href="#ode">Order Details</a>
                </li>
            </ul>
            <div id="sta">
                <form action="#" class="w-100 p-2" data-bind="this.dataContext,to=ShipToAddress" data-view="dataform">
                    <div class="text-info">
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">AddressLine1:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=AddressLine1" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">AddressLine2:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=AddressLine2" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">City:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=City" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">StateProvince:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=StateProvince" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">CountryRegion:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=CountryRegion" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">PostalCode:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=PostalCode" readonly />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="bta">
                <form action="#" class="w-100 p-2" data-bind="this.dataContext,to=BillToAddress" data-view="dataform">
                    <div class="text-info">
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">AddressLine1:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=AddressLine1" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">AddressLine2:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=AddressLine2" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">City:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=City" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">StateProvince:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=StateProvince" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">CountryRegion:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=CountryRegion" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">PostalCode:</label>
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" data-bind="this.value,to=PostalCode" readonly />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="ode">
                <table style="font-size:0.875rem;" data-name="tblOrderDetails" data-bind="this.dataSource,to=dbSet,source=customerVM.ordersVM.orderDetailsVM"
                       data-view-options="wrapCss:orderDetailTableWrap,isHandleAddNew:true,editor:{templateID:custGroup.orderDetEditTemplate,width:650,height:450,title:'Order Detail editing'}">
                    <thead>
                        <tr>
                            <th data-column="width:50px,type:row_actions"></th>
                            <th data-column="width:80px,sortable:true,title:OrderQty" data-content="fieldName:OrderQty,readOnly:true"></th>
                            <th data-column="width:80px,sortable:true,title:UnitPrice" data-content="fieldName:UnitPrice,readOnly:true"></th>
                            <th data-column="width:80px,sortable:true,title:UnitPriceDiscount" data-content="fieldName:UnitPriceDiscount,readOnly:true"></th>
                            <th data-column="width:80px,sortable:true,title:LineTotal" data-content="fieldName:LineTotal,readOnly:true"></th>
                            <th data-column="width:80px,sortable:true,title:Status" data-content="fieldName:SalesOrder.Status,readOnly:true"></th>
                            <th data-column="width:100%,title:Product" data-content="fieldName:Product.Name,readOnly:true"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script id="custGroup.productTemplate1" type="text/x-template">
    <span class="form-control-plaintext" data-bind="this.value,to=Product.Name"></span>
</script>

<script id="productAutocompleteOptions" type="text/x-options">
    dbContext:inject($dbContext),
    fieldName:Name,
    dbSetName:LookUpProduct,
    queryName:ReadProductLookUp,
    templateId:prodAutocompleteTemplate,
    width:300px,
    height:340px
</script>

<script id="productTemplate2" type="text/x-template">
    <span class="bg-transparent px-0 mx-0">
        <em class="d-block">autocomplete here--></em>
        <input type="text" class="form-control ml-0 d-inline-block" style="width:300px;" data-bind="this.dataContext"
               data-view="productAutocomplete"
               data-view-options="get(productAutocompleteOptions)" /><span class="ml-1 align-middle">*</span>
    </span>
</script>

<script id="prodAutocompleteTemplate" type="text/x-template">
    <div class="d-flex flex-column align-items-stretch h-100">
        <div class="mb-auto" data-bind="this.isBusy,to=isLoading" data-view="busy">
            <table data-name="lookupGrid" data-bind="this.dataSource,to=gridDataSource"
                   data-view-options="wrapCss:autocompleteTableWrap,headerCss:autocompleteTableHeader">
                <thead>
                    <tr>
                        <th data-column="width:100%,sortable:true,title:Name" data-content="fieldName:Name"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="mt-auto mb-3">
            <div class="mb-2">
                <!--pager-->
                <div style="max-width:200px; min-height:30px; display:inline-block;" data-bind="this.dataSource,to=gridDataSource" data-view="pager"
                     data-view-options="sliderSize:5">
                </div>
                <span class="text-info ml-2">Total rows:</span><span class="ml-2" data-bind="this.value,to=gridDataSource.totalCount"></span>
            </div>

            <div class="mb-2 text-center">
                <button type="button" class="btn btn-info btn-sm" style="width:6em;" data-name="btnOk">
                    <i class="fas fa-check"></i><span class="ml-2" data-bind="this.text,to=txtOk,source=TEXT"></span>
                </button>
                <button type="button" class="btn btn-info btn-sm ml-3" style="width:6em;" data-name="btnCancel">
                    <i class="fas fa-times"></i><span class="ml-2" data-bind="this.text,to=txtCancel,source=TEXT"></span>
                </button>
            </div>
        </div>
    </div>
</script>