@model RIAppDemo.Models.SPATemplate
@{
    Layout = null;
}

<script id="custInfoGroup.customerInfo" type="text/x-template">
    <div style="max-width: 800px;" data-bind="this.dataContext,to=currentItem" data-view="dataform" data-require="test1,test3,css!css/test1.css">
        <fieldset>
            <legend><span style="color: Blue; font-weight: bold;" data-bind="this.value,to=CustomerName.Name"></span></legend>
            <nav>
                <ul class="nav nav-pills">
                    <li>
                        <a data-bind-1="this.command,to=switchViewCommand,source=customerVM"
                           data-bind-2="this.commandParam,to=uiMainRoute.custTemplName,source=customerVM"><i class="icon-list"></i>&nbsp;Back to all customers</a>
                    </li>
                    <li>
                        <a data-bind-1="this.command,to=switchDetViewCommand,source=customerVM"
                           data-bind-2="this.commandParam,to=uiCustDetRoute.adrTemplName,source=customerVM"><i class="icon-envelope"></i>&nbsp;Customer's addresses</a>
                    </li>
                </ul>
            </nav>

            <table style="background-color: transparent; border: none; table-layout: fixed; width: 95%;">
                <colgroup>
                    <col style="border: none; text-align: left; width: 125px;" />
                    <col style="border: none; text-align: left; width: 100%;" />
                </colgroup>
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td>
                            <span data-content="fieldName:CustomerId,readOnly:true,css:{readCss:'custInfo'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>
                            <span data-content="fieldName:Title,css:{readCss:'custInfo'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>FirstName:</td>
                        <td>
                            <span data-content="fieldName:CustomerName.FirstName,css:{readCss:'custInfo'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>MiddleName:</td>
                        <td>
                            <span data-content="fieldName:CustomerName.MiddleName,css:{readCss:'custInfo'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>LastName:</td>
                        <td>
                            <span data-content="fieldName:CustomerName.LastName,css:{readCss:'custInfo'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Suffix:</td>
                        <td>
                            <span data-content="fieldName:Suffix,css:{readCss:'custInfo'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>CompanyName:</td>
                        <td>
                            <span data-content="fieldName:CompanyName,css:{readCss:'custInfo'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>SalesPerson:</td>
                        <td>
                            <span data-content="template={readID=custInfoGroup.salespersonTemplate1,editID=custInfoGroup.salespersonTemplate2},css:{readCss:'custInfo'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            <span data-content="fieldName=CustomerName.Contact.EmailAddress,css:{readCss:'custInfo'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>
                            <span data-content="fieldName:CustomerName.Contact.Phone,css:{readCss:'custInfo'}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--this nested dataform is only to test how the dataform nesting is working!!! it is not needed here, really.-->
            <div style="float: right; margin-right: 60px;" data-bind="this.dataContext" data-view="dataform" data-name="test1">
                <button class="btn btn-info btn-small" style="margin: 5px;" 
                        data-bind-1="this.command,to=editCommand,source=customerVM"
                        data-bind-2="this.isVisible,to=_aspect.isEditing,converter=notConverter"><i class="icon-plus"></i>&nbsp;Edit Customer</button>
                <button class="btn btn-info btn-small" style="margin: 5px; width: 100px;" 
                        data-bind-1="this.command,to=endEditCommand,source=customerVM"
                        data-bind-2="this.isVisible,to=_aspect.isEditing">OK</button>
                <button class="btn btn-info btn-small" style="margin: 5px; width: 100px;" 
                        data-bind-1="this.command,to=cancelEditCommand,source=customerVM"
                        data-bind-2="this.isVisible,to=_aspect.isEditing">Cancel</button>
            </div>
        </fieldset>
    </div>
</script>

<script id="custInfoGroup.salespersonTemplate1" type="text/x-template">
    <span data-bind="this.value,to=SalesPerson"></span>
</script>

<script id="custInfoGroup.salespersonAutocompleteOptions" type="text/x-options">
    dbContext:inject($dbContext),
    fieldName:SalesPerson,
    dbSetName:SalesInfo,
    queryName:ReadSalesInfo,
    templateId:custInfoGroup.salePerAutocompleteTemplate,
    width:200px,
    height:200px
</script>

<script  id="custInfoGroup.salespersonTemplate2" type="text/x-template">
    <span>
        <input type="text" style="margin-left: 0px; width: 200px;" 
               data-bind-1="this.value,to=SalesPerson,mode=TwoWay"
               data-bind-2="this.dataContext"
               data-view="autocomplete" 
               data-view-options="get(custInfoGroup.salespersonAutocompleteOptions)" />
        &nbsp;<span style="color: Gray;">&lt;--autocomplete here</span>
    </span>
</script>

<script id="custInfoGroup.salePerAutocompleteTemplate" type="text/x-template">
    @*example of autocomplete implementation*@
    <div style="height: 97%; margin: 0px; padding: 2px; position: relative;">
        <div style="margin-left: 1px; position: relative; vertical-align: top;"
             data-bind="this.isBusy,to=isLoading" data-view="busy">
            <table data-name="lookupGrid" data-bind="this.dataSource,to=gridDataSource"
                   data-view-options="wrapCss:autocompleteSalePTableWrap,headerCss:autocompleteTableHeader">
                <thead>
                    <tr>
                        <th data-column="width:100%,sortable:true,title:Name" data-content="fieldName:SalesPerson"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div style="text-align: left;position: relative;">
            <!--pager-->
            <div style="float: left;" data-bind="this.dataSource,to=gridDataSource" 
                 data-view="pager" 
                 data-view-options="sliderSize:5,hideOnSinglePage=true">
            </div>
            <div style="float: left; padding: 5px;">
                <span>Total rows:</span>&nbsp;<span data-bind="this.value,to=gridDataSource.totalCount"></span>
            </div>
        </div>
        <br style="clear: both;" />
        <div style="margin-left: auto;margin-right:auto;left: 0;right: 0;bottom:5px;text-align:center;position:absolute;">
            <a class="btn btn-info btn-small" style="width: 70px;" data-name="btnOk" data-bind="this.text,to=txtOk,source=TEXT">
                <i class="icon-ok"></i>
            </a><span class="space"></span>
            <a class="btn btn-info btn-small" style="width: 70px;" data-name="btnCancel" data-bind="this.text,to=txtCancel,source=TEXT">
                <i class="icon-remove"></i>
            </a>
        </div>
    </div>
</script>