@model RIAppDemo.Models.SPATemplate
@{
    Layout = null;
}

<script id="custInfoGroup.customerInfo" type="text/x-template">
    <div id="customerInfo" class="form-group-sm mx-0" style="max-width: 800px;" data-bind="this.dataContext,to=currentItem,source=customerVM" data-view="dataform" data-require="test1,test3,css!css/test1.css">
        <h4><span class="text-primary text-capitalize" data-bind="this.value,to=CustomerName.Name"></span></h4>
        <nav class="navbar-expand-sm bg-transparent justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-bind-1="this.command,to=switchViewCommand,source=customerVM"
                       data-bind-2="this.commandParam,to=uiMainRoute.custTemplName,source=customerVM"><i class="fas fa-home"></i><span class="ml-1">Back to all customers</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bind-1="this.command,to=switchDetViewCommand,source=customerVM"
                       data-bind-2="this.commandParam,to=uiCustDetRoute.adrTemplName,source=customerVM"><i class="fas fa-envelope-open-text"></i><span class="ml-1">Customer's addresses</span></a>
                </li>
            </ul>
        </nav>
        <div class="m-0 form-row pt-2">
            <label class="col-sm-2 col-form-label-sm">ID:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerId,css:{readCss:'custInfo'}"></span>
            </div>
        </div>
        <div class="m-0 form-row">
            <label class="col-sm-2 col-form-label-sm">Title:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:Title,css:{readCss:'custInfo'}"></span>
            </div>
        </div>
        <div class="m-0 form-row">
            <label class="col-sm-2 col-form-label-sm">FirstName:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.FirstName,css:{readCss:'custInfo'}"></span>
            </div>
        </div>
        <div class="m-0 form-row">
            <label class="col-sm-2 col-form-label-sm">MiddleName:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.MiddleName,css:{readCss:'custInfo'}"></span>
            </div>
        </div>
        <div class="m-0 form-row">
            <label class="col-sm-2 col-form-label-sm">LastName:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.LastName,css:{readCss:'custInfo'}"></span>
            </div>
        </div>
        <div class="m-0 form-row">
            <label class="col-sm-2 col-form-label-sm">Suffix:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:Suffix,css:{readCss:'custInfo'}"></span>
            </div>
        </div>
        <div class="m-0 form-row">
            <label class="col-sm-2 col-form-label-sm">CompanyName:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CompanyName,css:{readCss:'custInfo'}"></span>
            </div>
        </div>
        <div class="m-0 form-row">
            <label class="col-sm-2 col-form-label-sm">SalesPerson:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="template={readID=salespersonTemplate1},css:{readCss:'custInfo'}"></span>
            </div>
        </div>
        <div class="m-0 form-row">
            <label class="col-sm-2 col-form-label-sm">Email:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName=CustomerName.Contact.EmailAddress,css:{readCss:'custInfo'}"></span>
            </div>
        </div>
        <div class="m-0 form-row">
            <label class="col-sm-2 col-form-label-sm">Phone:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.Contact.Phone,css:{readCss:'custInfo'}"></span>
            </div>
        </div>
        <!--this nested dataform is only to test how the dataform nesting is working!!! it is really not needed here.-->
        <div class="m-0 mt-2 form-row" data-bind="this.dataContext" data-view="dataform">
            <div class="col-sm-10 text-right">
                <button type="button" class="btn btn-info btn-sm"
                        data-bind-1="this.command,to=editCommand,source=customerVM"
                        data-bind-2="this.isVisible,to=_aspect.isEditing,converter=notConverter">
                    <i class="fas fa-user-edit"></i><span class="ml-1">Edit Customer</span>
                </button>
                <button type="button" class="btn btn-info btn-sm ml-2" style="width: 100px;"
                        data-bind-1="this.command,to=endEditCommand,source=customerVM"
                        data-bind-2="this.isVisible,to=_aspect.isEditing">
                    <i class="fas fa-save"></i><span class="ml-1">Save</span>
                </button>
                <button type="button" class="btn btn-info btn-sm ml-2" style="width: 100px;"
                        data-bind-1="this.command,to=cancelEditCommand,source=customerVM"
                        data-bind-2="this.isVisible,to=_aspect.isEditing">
                    <i class="fas fa-undo"></i><span class="ml-1">Cancel</span>
                </button>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
     </div>
</script>

<script id="salespersonTemplate1" type="text/x-template">
    <span class="form-control-plaintext" data-bind="this.value,to=SalesPerson"></span>
</script>

<script id="salespersonAutocompleteOptions" type="text/x-options">
    dbContext:inject($dbContext),
    fieldName:SalesPerson,
    dbSetName:SalesInfo,
    queryName:ReadSalesInfo,
    templateId:salePerAutocompleteTemplate,
    width:300px,
    height:320px
</script>

<script id="salespersonTemplate2" type="text/x-template">
    <input type="text" class="ml-0" style="width: 300px;"
           data-bind-1="this.value,to=SalesPerson,mode=TwoWay"
           data-bind-2="this.dataContext"
           data-view="autocomplete"
           data-view-options="get(salespersonAutocompleteOptions)" />
    <span class="ml-1" style="color: Gray;">&lt;--autocomplete here</span>
</script>

<script id="salePerAutocompleteTemplate" type="text/x-template">
    <div class="m-0 p-1" style="height: 98%; position: relative;">
        <div class="ml-1 align-top" style="position: relative;"
             data-bind="this.isBusy,to=isLoading" data-view="busy">
            <table data-name="lookupGrid" data-bind="this.dataSource,to=gridDataSource"
                   data-view-options="wrapCss:autocompleteTableWrap,headerCss:autocompleteTableHeader">
                <thead>
                    <tr>
                        <th data-column="width:100%,sortable:true,title:Name" data-content="fieldName:SalesPerson"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="text-left clearfix" style="position: relative;">
            <!--pager-->
            <div style="float: left;" data-bind="this.dataSource,to=gridDataSource"
                 data-view="pager"
                 data-view-options="sliderSize:5,hideOnSinglePage=true">
            </div>
            <div style="float: left; padding: 5px;">
                <span class="text-info">Total rows:</span><span class="ml-2" data-bind="this.value,to=gridDataSource.totalCount"></span>
            </div>
        </div>
        <div class="mx-auto text-center" style="left: 0;right: 0;bottom:5px;position:absolute;">
            <button type="button" class="btn btn-info btn-sm" style="width: 6em;" data-name="btnOk">
                <i class="fas fa-check"></i><span class="ml-2" data-bind="this.text,to=txtOk,source=TEXT"></span>
            </button>
            <button type="button" class="btn btn-info btn-sm ml-3" style="width: 6em;" data-name="btnCancel">
                <i class="fas fa-times"></i><span class="ml-2" data-bind="this.text,to=txtCancel,source=TEXT"></span>
            </button>
        </div>
    </div>
</script>