<div id="loading" style="display: none; position: fixed;left: 40%;top: 45%;width: 255px;height: 65px;background-color:#eef0f1;color: gray;z-index: 1000;">
    <div style="position: relative; top: 50%; transform: translateY(-50%); text-align: center;font-size: larger;font-weight: bold;">
        <img src="~/js/jriapp/img/loader.gif" /> <span style="margin-left: 1em;">Loading ...</span>
    </div>
</div>
