@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}
@{
    ViewBag.Title = "Files Explorer Demo";
}
@Html.AntiForgeryToken()

@section CssImport
{
    <link href="~/js/dynatree/skin/ui.dynatree.css" rel="stylesheet" />

    <style type="text/css">

        #demoHeader label {
            color: Blue;
        }

        #demoContent {
            height: 80px;
            overflow: visible;
            position: relative;
            vertical-align: top;
        }

        #tree {
            height: 600px;
            overflow: visible;
            padding: 5px;
        }

        #demoContent > fieldset {
            border-radius: 5px;
        }

        #demoContent fieldset > legend {
            color: Blue;
            font-weight: bold;
        }

        #demoContent .radioItem {
            display: inline-block;
            margin: 4px;
            padding: 4px;
        }

        .stackPanelItem {
            width: 170px;
        }

            .stackPanelItem fieldset {
                border-radius: 5px;
            }

                .stackPanelItem fieldset legend {
                    color: Blue;
                    font-weight: bold;
                }
    </style>
}

@section JSStaticImport
{
    <script src="~/js/dynatree/jquery.dynatree.min.js"></script>
}

@section JSDynamicImport {
    <script type="text/javascript">
    require(["filesDemo"],
        function(DEMO) {
            var mainOptions = {
                service_url: null,
                permissionInfo: null
            };

            (function(ops) {
                ops.service_url = '@Url.RouteUrl("Default", new {controller = "FolderBrowserService", action = ""})';
                ops.permissionInfo =  @await Component.InvokeAsync("PermissionsFolder");
            })(mainOptions);

            DEMO.start(mainOptions);
        });
    </script>
}

<h2 class="ex8 mb-3">@ViewBag.Title</h2>

<div id="demoContent" class="my-3 mb-0 pl-0" >
    <button type="button" class="btn btn-info btn-sm my-2 ml-0" data-bind="this.command,to=dialogCommand,mode=OneWay,source=fbrowserVM1">Open folder browser</button>
    <button type="button" class="btn btn-info btn-sm my-2 ml-2" data-bind="this.command,to=dialogCommand,mode=OneWay,source=fbrowserVM2">Open file browser</button>
</div>
<span class="text-info">Selected path: </span><span class="ml-2 text-dark" data-bind="this.value,to=selectedPath"></span>

<script id="treeTemplate" type="text/x-template">
    <div class="h-100 m-1" style="width: 95%;">
        <div data-name="tree" style="height: 95%; font-size: 1.0rem;"></div>
        <strong><span class="text-dark" style="bottom: 5px; font-size: 0.875rem; left: 15px; position: absolute;" data-bind="this.text,to=selectedItem.fullPath,mode=OneWay"></span></strong>
    </div>
</script>