@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}
@{
    ViewBag.Title = "Files Explorer Demo";
}
@Html.AntiForgeryToken()
@section CssImport
    {
    <link href="~/js/dynatree/skin/ui.dynatree.css" rel="stylesheet" />
}
@section JSImport
    {
    <script src="~/js/dynatree/jquery.dynatree.min.js"></script>
}
<style type="text/css">

    #demoHeader label {
        color: Blue;
    }

    #demoContent {
        height: 80px;
        overflow: visible;
        position: relative;
        vertical-align: top;
    }

    #tree {
        height: 600px;
        overflow: visible;
        padding: 5px;
    }

    #demoContent > fieldset {
        border-radius: 5px;
    }

    #demoContent fieldset > legend {
        color: Blue;
        font-weight: bold;
    }

    #demoContent .radioItem {
        display: inline-block;
        margin: 4px;
        padding: 4px;
    }

    .stackPanelItem {
        width: 170px;
    }

        .stackPanelItem fieldset {
            border-radius: 5px;
        }

            .stackPanelItem fieldset legend {
                color: Blue;
                font-weight: bold;
            }
</style>
<script type="text/javascript">
    require(["filesDemo"],
        function(DEMO) {
            var mainOptions = {
                service_url: null,
                permissionInfo: null
            };

            (function(ops) {
                ops.service_url = '@Url.RouteUrl("Default", new {controller = "FolderBrowserService", action = ""})';
                ops.permissionInfo =  @await Component.InvokeAsync("PermissionsFolder");
            })(mainOptions);

            DEMO.start(mainOptions);
        });
</script>
<h2 class="ex8">@ViewBag.Title</h2>
<div id="demoContent">
    <a class="btn btn-info btn-small" style="margin: 5px 5px 5px 0px;" data-bind="this.command,to=dialogCommand,mode=OneWay,source=fbrowserVM1">Open folder browser</a>
    <a class="btn btn-info btn-small" style="margin: 5px 5px 5px 0px;" data-bind="this.command,to=dialogCommand,mode=OneWay,source=fbrowserVM2">Open file browser</a>
</div>
<span style="font-weight: bold;">Selected path: </span><span style="color: blue;" data-bind="this.value,to=selectedPath"></span>
<script id="treeTemplate" type="text/x-template">
    <div style="height: 100%; margin: 4px; width: 95%;">
        <div data-name="tree" style="height: 95%;"></div>
        <span style="bottom: 5px; color: Blue; font-size: 10px; font-weight: bold; left: 15px; position: absolute;" data-bind="this.text,to=selectedItem.fullPath,mode=OneWay"></span>
    </div>
</script>