@{
    ViewBag.Title = "jRIApp - JavaScript RIA MVVM framework";
}
@section CssImport
{
    <style type="text/css">
        #bodyDiv { text-align: center; }
    </style>
}
<h1 class="ex8">@ViewBag.Title</h1>
<h2 class="ex6">The Framework's DEMO</h2>
<h4 class="ex4">
    Use the DEMO menu to select a demo.
</h4>