@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}
@{
    ViewBag.Title = "JsonDB Editing Demo (example of editing raw json)";
}
@Html.AntiForgeryToken()
@section CssImport {
    <style type="text/css">

        .space {
            display: inline-block;
            width: 10px;
        }

        #demoHeader label {
            color: Blue;
        }

        #demoContent {
            height: 600px;
            overflow: visible;
            vertical-align: top;
        }

        .customerTableWrap {
            height: 95%;
            width: 100%;
        }

        .custInfo {
            color: Blue;
        }

        .custEdit {
        }

        .listbox-edit select {
            width: 75%;
        }

        .qtyEdit > input[type="text"] {
            min-width: 20px;
            width: 45px;
        }

        form.customerInfo {
            padding: 15px;
            width: 100%;
        }

        table.ria-data-table tr:nth-child(even) {
            background-color: #ECF2F6;
        }
    </style>
}

@section JSDynamicImport {
    <script type="text/javascript">
    require(["jsondbDemo", "jriapp_ui", "jriapp_ru"],
        function(DEMO, UI, LANG) {
            $("#loading").fadeIn();
            var mainOptions = {
                service_url: null,
                permissionInfo: null
            };

            (function(ops) {
                ops.service_url = '@Url.RouteUrl("Default", new {controller = "RIAppDemoServiceEF", action = ""})';
                ops.permissionInfo = @await Component.InvokeAsync("Permissions");
            })(mainOptions);

            DEMO.start(mainOptions).then(function () {
                $("#demoContent").animate({ opacity: 1 }, 1000);
                $("#loading").fadeOut(1000);
            }, function (err) {
                $("#loading").fadeOut(1000);
            });
        });
    </script>
}

<h2 class="ex8 mb-3">@ViewBag.Title</h2>

<div id="demoContent" class="container-fluid px-0" style="opacity:0;" data-bind="this.isBusy,to=dbContext.isBusy" data-view="busy">
    <div class="row" style="height: calc(100% - 60px);">
        <table data-name="gridCustomers" data-bind="this.dataSource,to=dbSet,source=customerVM"
               data-view-options="wrapCss:customerTableWrap,isHandleAddNew:true,editor:{templateID:customerEditTemplate,width:550,height:650,submitOnOK:false,title:'Customer editing'},details:{templateID:custDetTemplate}">
            <thead>
                <tr>
                    <th data-column="width:35px,type:row_expander"></th>
                    <th data-column="width:50px,type:row_actions"></th>
                    <th data-column="width:80px,sortable:true,title:ID" data-content="fieldName:CustomerId,readOnly:true"></th>
                    <th data-column="width:45%,title:Customer Name" data-content="template={readID=nameTemplate}"></th>
                    <th data-column="width:35%,title:E-Mail" data-content="template={readID=emailTemplate}"></th>
                    <th data-column="width:20%,title:Phone" data-content="template={readID=phoneTemplate}"></th>
                    <th data-column="width:150px,title:Modified" data-content="template={readID=dateTemplate}"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="row border-0 pt-4" style="height: 40px;">
        <!--pager-->
        <div class="col-auto pl-0" data-bind-1="this.dataSource,to=dbSet,source=customerVM"
             data-view="pager"
             data-view-options="sliderSize:10">
        </div>
        <div class="col-auto mr-auto pl-0 pt-1">
            <span class="align-middle text-info">Total rows:</span><span class="ml-1 align-middle" data-bind="this.value,to=dbSet.totalCount,source=customerVM"></span>
        </div>
        <div class="col-auto ml-auto text-right">
            <button type="button" class="btn btn-info btn-sm" style="width:11em;" data-bind="this.command,to=addNewCommand,mode=OneWay,source=customerVM"><i class="fas fa-plus"></i><span class="ml-1">New Customer</span></button>
            <button type="button" class="btn btn-info btn-sm" style="width:11em;" data-bind="this.command,to=saveCommand,mode=OneWay,source=customerVM"><i class="fas fa-save"></i><span class="ml-1">Save</span></button>
            <button type="button" class="btn btn-info btn-sm" style="width:11em;" data-bind="this.command,to=undoCommand,mode=OneWay,source=customerVM"><i class="fas fa-undo"></i><span class="ml-1">Undo</span></button>
        </div>
    </div>
</div>
@await Html.PartialAsync("_WaitLoad")

<script id="customerEditTemplate" type="text/x-template">
    <form action="#" class="bg-transparent" data-bind="this.dataContext,mode=OneWay" data-view="dataform">
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">ID:</label>
            <div class="col-sm-9">
                <span class="form-control-plaintext" data-content="fieldName:CustomerId,css:{readCss:'custInfo',editCss:'custEdit'}"></span>
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">Title:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:100px;" data-bind="this.value,to=Customer[Title],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">FirstName:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=Customer[Level1.FirstName],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">MiddleName:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=Customer[Level1.MiddleName],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">LastName:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=Customer[Level1.LastName],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">CompanyName:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=Customer[CompanyName],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">SalesPerson:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=Customer[SalesPerson],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">Email:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=Customer[Level1.Level2.EmailAddress],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">Phone:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=Customer[Level1.Level2.Phone],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">ModifiedDate:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:180px;"
                       data-bind="this.value,to=Customer[ModifiedDate],converter=dateTimeConverter,param='DD.MM.YYYY HH:mm:ss',mode=TwoWay" />
            </div>
        </div>
        <em class="d-inline-block mt-3">
            Server side does not implement insert && update methods so the changes are not persisted to the db!<br />
            Nevertheless it shows that the changes are submitted to the server and editing of the JSON is possible.
        </em>
    </form>
</script>

<script id="nameTemplate" type="text/x-template">
    <span data-bind="this.value,to=Customer[Level1.FirstName]"></span>
    <span class="ml-2" data-bind="this.value,to=Customer[Level1.MiddleName]"></span>
    <span class="ml-2" data-bind="this.value,to=Customer[Level1.LastName]"></span>
</script>

<script id="emailTemplate" type="text/x-template">
    <span data-bind="this.value,to=Customer[Level1.Level2.EmailAddress]"></span>
</script>

<script id="phoneTemplate" type="text/x-template">
    <span data-bind="this.value,to=Customer[Level1.Level2.Phone]"></span>
</script>

<script id="dateTemplate" type="text/x-template">
    @*testing of the bind expression for the param value*@
    @*the source is from the datacontext: bind(Customer.dateFormat)*@
    @*can be tested here with the explicit source as the app property: bind(dateFormat,app)*@
    <span data-bind="this.value,to=Customer[ModifiedDate],converter=dateTimeConverter,param=bind(Customer.dateFormat)"></span>
</script>

<script id="custDetTemplate" type="text/x-template">
    <div style="margin: 0px; min-height: 400px; width: 100%;">
        <table style="font-size: 9pt; margin-bottom: 3px;"
               data-bind="this.dataSource,to=Customer.Addresses"
               data-view-options="isHandleAddNew:true,editor:{templateID:addressEditTemplate,width:550,height:400,submitOnOK:false,title:'Address editing'}">
            <thead>
                <tr>
                    <th data-column="width:50px,type:row_actions"></th>
                    <th data-column="width:100%,title:Address" data-content="template={readID=addrTemplate}"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div style="height:45px; border: none; margin-top:10px; text-align:center;">
            <button type="button" class="btn btn-info btn-sm" data-bind="this.command,to=addNewAddrCommand,mode=OneWay,source=customerVM">
                <i class="fas fa-plus"></i><span class="ml-1">New Address</span>
            </button>
        </div>
    </div>
</script>

<script id="addrTemplate" type="text/x-template">
    <div class="m-0 w-100">
        <span data-bind="this.value,to=[Line1]"></span>
        <span class="ml-1" data-bind="this.value,to=[Line2]"></span>
        <span class="ml-1" data-bind="this.value,to=[City]"></span>
        <span class="ml-1" data-bind="this.value,to=[Region]"></span>
    </div>
</script>

<script id="addressEditTemplate" type="text/x-template">
    <form action="#" class="bg-transparent" data-bind="this.dataContext,mode=OneWay" data-view="dataform">
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">Line1:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=[Line1],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">Line2:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=[Line2],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">City:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=[City],mode=TwoWay" />
            </div>
        </div>
        <div class="form-group form-row mb-1">
            <label class="col-sm-3 col-form-label">Region:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:90%;" data-bind="this.value,to=[Region],mode=TwoWay" />
            </div>
        </div>
        <em class="d-inline-block mt-3">
            Server side does not implement insert && update methods so the changes are not persisted to the db!<br />
            Nevertheless it shows that the changes are submitted to the server and editing of the JSON is possible.
        </em>
    </form>
</script>
