@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}
@{
    ViewBag.Title = "ManyToMany Demo (loads and caches 10 data pages)";
}
@Html.AntiForgeryToken()

@section CssImport {
    <style type="text/css">
        #demoContent {
            height: calc(100vh - 185px);
            position: relative;
        }

        #leftPanel {
            height: 100%;
            overflow: auto;
            overflow-y: hidden;
            vertical-align: top;
        }

        #rightPanel {
            height: 100%;
            overflow: auto;
            vertical-align: top;
        }

        #leftPanel .customerTableContainer {
            height: 95%;
        }

        .customerTableWrap {
            height: 100%;
            width: 100%;
        }

        .addressTableWrap {
            height: 120px;
            width: 100%;
        }

        .addressTableHeader {
        }

        .autocompleteTableWrap {
            height: 220px;
            width: 100%;
        }

        .autocompleteTableHeader {
            display: none;
        }

        .findAddrTableWrap {
            height: 280px;
            width: 100%;
        }

        #customerInfo {
            overflow: auto;
            width: 98%;
        }

        #customerInfo .form-control-plaintext  {
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
        }

        #customerInfo .col-form-label {
            padding-top: calc(.375rem + 1px);
            padding-bottom: calc(.375rem + 1px);
        }


        .custInfo {
        }

        .custEdit {
        }

        #customerAddr {
            margin: 2px;
            padding: 2px;
            width: 98%;
        }

            #customerAddr fieldset {
                border-radius: 5px;
            }

                #customerAddr fieldset legend {
                    color: Blue;
                    font-weight: bold;
                }

        table.ria-data-table tr .addressTemplate {
            height: 195px;
            padding: 5px;
        }

        table.ria-data-table tr.row-highlight .addressTemplate {
        }

        table.ria-data-table tr .addressTemplate input[type="text"] {
            max-width: 200px;
        }

        table.ria-data-table tr .addressLine {
            margin-bottom: 2px;
            margin-top: 2px;
        }

        table.ria-data-table tr .addressLabel {
            display: inline-block;
            width: 9em;
        }

        table.ria-data-table tr .address {
            color: Blue;
        }

        table.ria-data-table tr.row-highlight .address {
            color: Aqua;
        }

        #leftPanel table.ria-data-table tr:nth-child(even) {
            background-color: #ECF2F6;
        }

        div.ria-dataform .addressLine {
            margin-bottom: 2px;
            margin-top: 2px;
        }

        div.ria-dataform .addressLabel {
            color: Blue;
            display: block;
            width: 9em;
        }

        div.ria-dataform .address {
            width: 60%;
        }

        .stackPanelItem {
            width: 170px;
        }

            .stackPanelItem fieldset {
                border-radius: 5px;
            }

                .stackPanelItem fieldset legend {
                    color: Blue;
                    font-weight: bold;
                }

        form[data-name="newAddress"] dd {
            margin-bottom: 0;
        }
    </style>
}

@section JSStaticImport {
}

@section JSDynamicImport {
    <environment include="Development">
        <script src="~/js/demo/manToManDemo/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/demo/manToManDemo/main.min.js"></script>
    </environment>

    <script type="text/javascript">
    require(["manToManDemo/main", "jriapp_ui", "jriapp_ru"],
        function(DEMO, UI, LANG) {
            $("#loading").fadeIn();
            var mainOptions = {
                service_url: null,
                permissionInfo: null
            };

            (function(ops) {
                ops.service_url = '@Url.RouteUrl("Default", new {controller = "RIAppDemoServiceEF", action = ""})';
                ops.permissionInfo = @await Component.InvokeAsync("Permissions");
            })(mainOptions);

            DEMO.start(mainOptions).then(function () {
                $("#demoContent").animate({ opacity: 1 }, 1000);
                $("#loading").fadeOut(1000);
            }, function (err) {
                $("#loading").fadeOut(1000);
            });
        });
    </script>
}

<h2 class="ex8 mb-3">@ViewBag.Title</h2>

<div id="demoContent" class="container-fluid px-0" style="opacity:0;" data-bind="this.isBusy,to=dbContext.isBusy" data-view="busy">
    <div class="row p-0 m-0 no-gutters" style="height: calc(100% - 40px);">
        <div id="leftPanel" class="col-3">
            <table data-name="gridCustomers"
                   data-bind="this.dataSource,to=dbSet,source=customerVM"
                   data-view-options="get(gridCustomersOptions)">
                <thead>
                    <tr>
                        <th data-column="width:50px,type:row_actions" />
                        <th data-column="width:90%,sortable:true,title:Customer Name,sortMemberName=CustomerName.LastName;CustomerName.MiddleName;CustomerName.FirstName" data-content="fieldName:CustomerName.Name,readOnly:true" />
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="rightPanel" class="col-9">
            <div id="customerInfo" class="form-group-sm ml-2" style="max-width: 800px; width:96%;" data-bind="this.dataContext,to=currentItem,source=customerVM" data-view="dataform">
                <h4 class="text-primary text-capitalize">Customer Info</h4>
                <div class="m-0 form-row">
                    <label class="col-sm-2 col-form-label">ID:</label>
                    <div class="col-sm-10">
                        <span class="form-control-plaintext" data-content="fieldName:CustomerId,readOnly:true,css:{readCss:'custInfo'}"></span>
                    </div>
                </div>
                <div class="m-0 form-row">
                    <label class="col-sm-2 col-form-label">Title:</label>
                    <div class="col-sm-10">
                        <span class="form-control-plaintext" data-content="fieldName:Title,readOnly:true,css:{readCss:'custInfo'}"></span>
                    </div>
                </div>
                <div class="m-0 form-row">
                    <label class="col-sm-2 col-form-label">FirstName:</label>
                    <div class="col-sm-10">
                        <span class="form-control-plaintext" data-content="fieldName:CustomerName.FirstName,readOnly:true,css:{readCss:'custInfo'}"></span>
                    </div>
                </div>
                <div class="m-0 form-row">
                    <label class="col-sm-2 col-form-label">MiddleName:</label>
                    <div class="col-sm-10">
                        <span class="form-control-plaintext" data-content="fieldName:CustomerName.MiddleName,readOnly:true,css:{readCss:'custInfo'}"></span>
                    </div>
                </div>
                <div class="m-0 form-row">
                    <label class="col-sm-2 col-form-label">LastName:</label>
                    <div class="col-sm-10">
                        <span class="form-control-plaintext" data-content="fieldName:CustomerName.LastName,readOnly:true,css:{readCss:'custInfo'}"></span>
                    </div>
                </div>
                <div class="m-0 form-row">
                    <label class="col-sm-2 col-form-label">Suffix:</label>
                    <div class="col-sm-10">
                        <span class="form-control-plaintext" data-content="fieldName:Suffix,readOnly:true,css:{readCss:'custInfo'}"></span>
                    </div>
                </div>
                <div class="m-0 form-row">
                    <label class="col-sm-2 col-form-label">CompanyName:</label>
                    <div class="col-sm-10">
                        <span class="form-control-plaintext" data-content="fieldName:CompanyName,readOnly:true,css:{readCss:'custInfo'}"></span>
                    </div>
                </div>
                <div class="m-0 form-row">
                    <label class="col-sm-2 col-form-label">SalesPerson:</label>
                    <div class="col-sm-10">
                        <span class="form-control-plaintext" data-content="template={readID=salespersonTemplate1},css:{readCss:'custInfo'}"></span>
                    </div>
                </div>
                <div class="m-0 form-row">
                    <label class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <span class="form-control-plaintext" data-content="fieldName=CustomerName.Contact.EmailAddress,readOnly:true,css:{readCss:'custInfo'}"></span>
                    </div>
                </div>
                <div class="m-0 form-row">
                    <label class="col-sm-2 col-form-label">Phone:</label>
                    <div class="col-sm-10">
                        <span class="form-control-plaintext" data-content="fieldName:CustomerName.Contact.Phone,readOnly:true,css:{readCss:'custInfo'}"></span>
                    </div>
                </div>
                <div class="m-0 mt-2 form-row">
                    <div class="col-sm text-right">
                        <button class="btn btn-info btn-sm" style="width:11em;" data-bind="this.command,to=addNewCommand,mode=OneWay,source=customerVM"><i class="fas fa-plus"></i><span class="ml-1">New Customer</span></button>
                    </div>
                </div>
            </div>
            <!--customerDetails-->
            <div id="customerAddr" class="form-group-sm ml-2" style="max-width: 800px;">
                <h4 class="text-primary text-capitalize">Customer Addresses</h4>
                <table data-name="gridCustAddr" data-bind="this.dataSource,to=custAdressView,source=customerVM.customerAddressVM"
                       data-view-options="wrapCss:addressTableWrap,headerCss:addressTableHeader">
                    <thead>
                        <tr>
                            <!--we can use one column with templated data content or several ordinary columns-->
                            <!--
                            <th data-column="width:100%,title=Address,sortable:true,sortMemberName=AddressLine" data-content="template={readID:addressTemplate, editID:addressTemplate}"/>
                                        -->
                            <th data-column="width:10%,title=Type,sortable:true,sortMemberName=AddressType;AddressLine" data-content="fieldName:AddressType,readOnly:true"></th>
                            <th data-column="width:20%,title=Address1,sortable:true" data-content="fieldName:Address.AddressLine1,readOnly:true"></th>
                            <th data-column="width:15%,title=Address2,sortable:true" data-content="fieldName:Address.AddressLine2,readOnly:true"></th>
                            <th data-column="width:12%,title=City,sortable:true,sortMemberName=Address.City;Address.AddressLine1" data-content="fieldName:Address.City,readOnly:true"></th>
                            <th data-column="width:12%,title=State,sortable:true,sortMemberName=Address.StateProvince;Address.AddressLine1" data-content="fieldName:Address.StateProvince,readOnly:true"></th>
                            <th data-column="width:15%,title=Region,sortable:false" data-content="fieldName:Address.CountryRegion,readOnly:true"></th>
                            <th data-column="width:10%,title=Zip,sortable:false" data-content="fieldName:Address.PostalCode,readOnly:true"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="m-0 mt-2 form-row">
                    <div class="col-sm text-right">
                        <button class="btn btn-info btn-sm" style="width:11em;" data-bind="this.command,to=addNewCommand,source=customerVM.customerAddressVM.addAddressVM"><i class="fas fa-wrench"></i><span class="ml-1">Manage Addresses</span></button>
                    </div>
                </div>
            </div>
            <!--customerAddr-->
            <!--
            //example of using stackpanel for horizontal list view
            <div style="width:100%; overflow:auto;" data-bind="this.dataSource,to=custAdressView,source=customerVM.custAddrVM" data-view="stackpanel" data-view-options="templateID:stackPanelItemTemplate,orientation:horizontal"></div>
            -->
        </div>
    </div>
    <div class="row border-0 mt-3" style="height: 40px;">
        <!--pager-->
        <div class="col-auto pl-0" data-bind="this.dataSource,to=dbSet,source=customerVM"
             data-view="pager"
             data-view-options="sliderSize:11,hideOnSinglePage=false">
        </div>
        <div class="col-auto mr-auto pl-0 pt-1">
            <span class="align-middle text-info">Total rows:</span><span class="ml-1 align-middle" data-bind="this.value,to=dbSet.totalCount,source=customerVM"></span>
        </div>
    </div>
</div>
@await Html.PartialAsync("_WaitLoad")

<script id="editcss" type="text/x-options">
    elEditCss:'form-control form-control-sm d-inline-block'
</script>

<script id="gridCustomersOptions" type="text/x-options">
    wrapCss: 'customerTableWrap',
    containerCss: customerTableContainer,
    isPrependAllRows: true,
    isHandleAddNew: true,
    isActionsToolTips: true,
    editor: {
    templateID: 'customerEditTemplate',
    width: 750,
    height: 650,
    submitOnOK: true,
    title: 'Customer editing'
    }
</script>

<script id="customerEditTemplate" type="text/x-template">
    <form action="#" class="bg-transparent" data-bind="this.dataContext,mode=OneWay" data-view="dataform">
        <div class="form-group form-row mb-0">
            <label class="col-sm-2 col-form-label">ID:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerId,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-sm-2 col-form-label">Title:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:Title,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-sm-2 col-form-label">FirstName:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.FirstName,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-sm-2 col-form-label">MiddleName:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.MiddleName,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-sm-2 col-form-label">LastName:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.LastName,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-sm-2 col-form-label">Suffix:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:Suffix,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-sm-2 col-form-label">CompanyName:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CompanyName,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-sm-2 col-form-label">SalesPerson:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="template={readID=salespersonTemplate1,editID=salespersonTemplate2}"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName=CustomerName.Contact.EmailAddress,css:get(editcss)"></span>
            </div>
        </div>
        <div class="form-group form-row mb-0">
            <label class="col-sm-2 col-form-label">Phone:</label>
            <div class="col-sm-10">
                <span class="form-control-plaintext" data-content="fieldName:CustomerName.Contact.Phone,css:get(editcss)"></span>
            </div>
        </div>
    </form>
</script>

<script id="salespersonTemplate1" type="text/x-template">
    <span class="form-control-plaintext" data-bind="this.value,to=SalesPerson"></span>
</script>

<script id="salespersonAutocompleteOptions" type="text/x-options">
    dbContext:inject($dbContext),
    fieldName:SalesPerson,
    dbSetName:SalesInfo,
    queryName:ReadSalesInfo,
    templateId:salePerAutocompleteTemplate,
    width:350px,
    height:340px
</script>

<script id="salespersonTemplate2" type="text/x-template">
    <input type="text" class="ml-0 form-control form-control-sm d-inline-block" style="width: 300px;"
           data-bind-1="this.value,to=SalesPerson,mode=TwoWay"
           data-bind-2="this.dataContext"
           data-view="autocomplete"
           data-view-options="get(salespersonAutocompleteOptions)" />
    <span class="ml-1" style="color: Gray;max-width: 200px;">&lt;--autocomplete here</span>
</script>


<script id="salePerAutocompleteTemplate" type="text/x-template">
    <div class="d-flex flex-column align-items-stretch h-100">
        <div class="mb-auto" data-bind="this.isBusy,to=isLoading" data-view="busy">
            <table data-name="lookupGrid" data-bind="this.dataSource,to=gridDataSource"
                   data-view-options="wrapCss:autocompleteTableWrap,headerCss:autocompleteTableHeader">
                <thead>
                    <tr>
                        <th data-column="width:100%,sortable:true,title:Name" data-content="fieldName:SalesPerson"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="mt-auto mb-3">
            <div class="mb-2">
                <!--pager-->
                <div style="max-width:200px; min-height:30px; display:inline-block;" data-bind="this.dataSource,to=gridDataSource" data-view="pager"
                     data-view-options="sliderSize:5">
                </div>
                <span class="text-info ml-2">Total rows:</span><span class="ml-2" data-bind="this.value,to=gridDataSource.totalCount"></span>
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-info btn-sm" style="width: 6em;" data-name="btnOk">
                    <i class="fas fa-check"></i><span class="ml-2" data-bind="this.text,to=txtOk,source=TEXT"></span>
                </button>
                <button type="button" class="btn btn-info btn-sm ml-3" style="width: 6em;" data-name="btnCancel">
                    <i class="fas fa-times"></i><span class="ml-2" data-bind="this.text,to=txtCancel,source=TEXT"></span>
                </button>
            </div>
        </div>
    </div>
</script>

<script id="addressTemplate" type="text/x-template">
    <div>
        <h3 clas="mb-2" style="font-size: 1rem;">
            <span class="address" data-bind="this.value,to=AddressType"></span>
        </h3>

        <form action="#" class="w-100 p-2" data-bind="this.dataContext,to=ShipToAddress" data-view="dataform">
            <div class="text-info">
                <div class="form-group row mb-0">
                    <label class="col-2 col-form-label">AddressLine1:</label>
                    <div class="col-10">
                        <span class="form-control-plaintext" data-bind="fieldName:AddressLine1"></span>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label class="col-2 col-form-label">AddressLine2:</label>
                    <div class="col-10">
                        <span class="form-control-plaintext" data-bind="fieldName:AddressLine2"></span>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label class="col-2 col-form-label">City:</label>
                    <div class="col-10">
                        <span class="form-control-plaintext" data-bind="fieldName:City"></span>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label class="col-2 col-form-label">StateProvince:</label>
                    <div class="col-10">
                        <span class="form-control-plaintext" data-bind="fieldName:StateProvince"></span>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label class="col-2 col-form-label">CountryRegion:</label>
                    <div class="col-10">
                        <span class="form-control-plaintext" data-bind="fieldName:CountryRegion"></span>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label class="col-2 col-form-label">PostalCode:</label>
                    <div class="col-10">
                        <span class="form-control-plaintext" data-bind="fieldName:PostalCode"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>

<script id="addAddressTemplate" type="text/x-template">
    <!--addressTemplate-->
    @*used for managing of customer's addresses in many to many relationship*@
    <div style="width: 95%;">
        <div class="row mb-2">
            <div class="form-group row col-5 pl-0">
                <span class="text-info col-form-label ">Customer:</span><span class="ml-2 text-primary col-form-label " data-bind="this.value,to=customer.CustomerName.Name"></span>
            </div>
            <div class="col-7 px-0">
                <div data-name="search" class="form-group row" data-bind="this.isVisible,to=isAddingNew,converter=notConverter">
                    <label class="col-4 col-form-label text-info text-right pr-2">Search Address:</label>
                    <div class="col-8">
                        <div class="input-group mb-2">
                            <input type="text" class="w-75"
                                   data-bind-1="this.value,to=searchString,mode=TwoWay"
                                   data-bind-2="this.toolTip,to=searchToolTip" />

                            <div class="input-group-append btn-group-sm">
                                <a class="btn btn-outline-secondary input-group-btn" data-bind="this.command,to=execSearchCommand">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--will be visible only when NOT adding new address-->
        <div data-bind="this.isVisible,to=isAddingNew,converter=notConverter">
            <div class="w-100" style="height: 400px;">
                <div class="form-group form-row mb-2" style="height:80%;">
                    <div class="col-sm-5">
                        <table data-name="gridCustAddr" data-bind="this.dataSource,to=custAdressView,source=customerVM.customerAddressVM"
                               data-view-options="wrapCss:findAddrTableWrap,isCanDelete=false,isCanEdit=true,isUseScrollInto=false">
                            <thead>
                                <tr>
                                    <th data-column="width:50px,type:row_actions"></th>
                                    <th data-column="width:40%,title=AddressType" data-content="fieldName:AddressType"></th>
                                    <th data-column="width:60%,title=Address,sortable:true" data-content="fieldName:Address.AddressLine1"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-sm-1 text-center my-auto">
                        <div>
                            <div class="p-1">
                                <button type="button" class="btn btn-info btn-sm" data-bind="this.command,to=linkCommand">
                                    <i class="fas fa-hand-point-left"></i>
                                </button>
                            </div>
                            <div class="p-1">
                                <button type="button" class="btn btn-info btn-sm" data-bind="this.command,to=unLinkCommand">
                                    <i class="fas fa-hand-point-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <table data-bind-1="this.dataSource,to=addressInfosView"
                               data-bind-2="this.grid,to=grid,mode=BackWay"
                               data-view-options="wrapCss:findAddrTableWrap">
                            <thead>
                                <tr>
                                    <th data-column="width:100%,sortable:true,title:Address" data-content="fieldName:AddressLine1"></th>
                                    <th data-column="width:100%,sortable:true,title:City,sortMemberName=City;AddressLine1"
                                        data-content="fieldName:City">
                                    </th>
                                    <th data-column="width:100%,sortable:true,title:CountryRegion,sortMemberName=CountryRegion;City;AddressLine1"
                                        data-content="fieldName:CountryRegion">
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row border-0 mt-3" style="height: 40px;">
                    <!--pager-->
                    <div class="col-auto ml-auto px-0 text-right" data-bind-1="this.dataSource,to=addressInfosView"
                         data-view="pager"
                         data-view-options="sliderSize:5">
                    </div>
                    <div class="col-2 pl-0 pt-1 text-right">
                        <span class="align-middle text-info">Total rows:</span><span class="ml-1 align-middle" data-bind="this.value,to=addressInfosView.totalCount"></span>
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-info btn-sm" data-bind="this.command,to=addNewAddressCommand">
                            <i class="fas fa-plus"></i><span class="ml-1">New Address</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--will be visible only when adding new address-->
        <div style="height: 95%; width: 95%;" data-bind="this.isVisible,to=isAddingNew">
            <form action="#" data-name="newAddress" style="width: 100%" data-bind="this.dataContext,to=newAddress" data-view="dataform">
                <dl class="dl-horizontal">
                    <dt>
                        <span class="addressLabel">AddressLine1:</span>
                    </dt>
                    <dd>
                        <!--inside data form we can use span tag with data-content attribute-->
                        <span class="address form-control-plaintext" data-content="fieldName:AddressLine1,options:{placeholder:'Enter address'}"></span>
                    </dd>
                    <dt>
                        <span class="addressLabel">AddressLine2:</span>
                    </dt>
                    <dd>
                        <span class="address form-control-plaintext" data-content="fieldName:AddressLine2,options:{placeholder:'Enter address'}"></span>
                    </dd>
                    <dt>
                        <span class="addressLabel">City:</span>
                    </dt>
                    <dd>
                        <span class="address form-control-plaintext" data-content="fieldName:City"></span>
                    </dd>
                    <dt>
                        <span class="addressLabel">StateProvince:</span>
                    </dt>
                    <dd>
                        <span class="address form-control-plaintext" data-content="fieldName:StateProvince"></span>
                    </dd>
                    <dt>
                        <span class="addressLabel">CountryRegion:</span>
                    </dt>
                    <dd>
                        <span class="address form-control-plaintext" data-content="fieldName:CountryRegion"></span>
                    </dd>
                    <dt>
                        <span class="addressLabel">PostalCode:</span>
                    </dt>
                    <dd>
                        <span class="address form-control-plaintext" data-content="fieldName:PostalCode"></span>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</script>

<script id="stackPanelItemTemplate" type="text/x-template">
    <div class="stackPanelItem" style="width: 200px;">
        <fieldset>
            <legend>
                <span class="address" data-bind="this.value,to=AddressType"></span>
            </legend>
            <span data-bind="this.value,to=AddressLine"></span>&nbsp;<a data-bind="this.command,to=helpCommand,source=customerVM},{this.commandParam" data-view-options="tip='click me for help!',linkimg='@Url.Content("~/Scripts/jriapp/img/help.gif")'">help</a>
        </fieldset>
    </div>
</script>