@{
    Layout = "~/Views/Shared/_LayoutReact.cshtml";
}
@{
    ViewBag.Title = "React Demo - using react components";
}

@section CssImport
{
    <style type="text/css">
        #demoContent {
            height: 600px;
            overflow: visible;
            position: relative;
            vertical-align: top;
        }

        label {
            color: blue;
        }

        div[data-view="pagerview"] {
            margin-bottom: 15px;
        }

        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            margin-top: 0;
            border-radius: 4px;
        }

            .pagination > li {
                display: inline;
            }

            .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
                z-index: 2;
                color: #fff;
                cursor: default;
                background-color: #337ab7;
                border-color: #337ab7;
            }

            .pagination > li > a, .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
                border-top-color: rgb(221, 221, 221);
                border-right-color: rgb(221, 221, 221);
                border-bottom-color: rgb(221, 221, 221);
                border-left-color: rgb(221, 221, 221);
            }
    </style>
}

@section JSStaticImport {
}

@section JSDynamicImport {
    <script src="~/js/demo/reactapp/reactdemo.min.js" asp-append-version="true"></script>

    <script type="text/javascript">
        require(["main", "jriapp", "jriapp_ui"],
            function (DEMO, RIAPP, UI) {
                var mainOptions = {
                    modulesInits: {}
                };

                DEMO.start(mainOptions).then(function () {
                    $("#demoContent").animate({ opacity: 1 }, 1000);
                    $("#loading").fadeOut(1000);
                }, function (err) {
                    $("#loading").fadeOut(1000);
                });
            });
    </script>
}

<h2 class="ex8">@ViewBag.Title</h2>

<div id="demoContent" class="container-fluid px-0" style="opacity:0;">
    <div data-view="tempview" data-bind-1="this.value,to=temperature,mode=TwoWay,source=testObj"
         data-bind-2="this.title,to=val,source={val='This is a React component demo'}">
    </div>
    <fieldset>
        <legend>This is a databound text input</legend>
        <input type="text" data-bind="this.value,to=temperature,mode=TwoWay,source=testObj"
               data-view-options="updateOnKeyUp=true"
               style="width: 250px" />
    </fieldset>
    <p style="text-indent:2em;font-family:'Courier New';margin:10px 0;">
        The both above text inputs are databound to  the test object's (<i>viewmodel's</i>) temperature property in the twoway mode.
        So if one component changes the value then the other component displays the current (<i>changed</i>) value. But the first component is created using the react
        and the temperature is exposed through the object's property,
        and the second one is an ordinary input text field (<i>just databound</i>).
        It shows that an incapsulated react components can be handled indistinguishably from any other frameworks controls (<i>element views</i>).<br />
        The react libraries just add 98kb (<i>not much</i>) to the scripts on the page.
    </p>
    <p style="text-indent:2em;font-family:'Courier New';margin:10px 0;">
        Below is a pager implemented in the react and incapsulated in the framework's element view. The properties are exposed and can be databound as in ordinary
        controls (<i>just to show - one property is databound and displayed below the pager</i>).
        It shows that the react components are easily incapsulated and used on the page alongside the ordinary controls.
    </p>
    <h4 style="margin-top:40px;">This is a react pager demo (three pagers)</h4>
    <div data-view="pagerview"
         data-bind-1="this.current,to=page,mode=TwoWay,source=testObj"
         data-view-options="total=25,current=5,visiblePages=10">
    </div>
    <div data-view="pagerview"
         data-bind-1="this.current,to=page,mode=TwoWay,source=testObj"
         data-view-options="total=25,current=5,visiblePages=13">
    </div>
    <div data-view="pagerview"
         data-bind-1="this.current,to=page,mode=TwoWay,source=testObj"
         data-view-options="total=25,current=5,visiblePages=15">
    </div>
    <strong>Current Page Index:</strong>&nbsp;<span data-bind-1="this.value,to=page,source=testObj"></span>
</div>

@await Html.PartialAsync("_WaitLoad")
